@model IEnumerable<CodingBlog.Models.Blog>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col">
        <h1>Blogs (@Model.Count())</h1>
    </div>
</div>
<hr />
@foreach (var item in Model)
{
    var Id = item.Id;

    <div class="row">
        <div class="col">
            <a asp-controller="Blogs" asp-action="Edit" asp-route-id="@item.Id">
                <div class="post-card-content-container">
                    <div class="meta-title"><h4>@Html.DisplayFor(modelItem => item.Name)</h4></div>
                    <p class="meta-abstract">Posts: @item.Posts.Count()</p>
                </div>
            </a>
        </div>
        <div class="col-auto d-flex">
            <a asp-controller="Posts" asp-action="Create" asp-route-id="@item.Id" class="my-auto btn btn-primary">Create Post</a>
        </div>
        <div class="col-auto d-flex">
            <a asp-controller="Blogs" asp-action="Edit" asp-route-id="@item.Id" class="my-auto btn btn-primary">Edit</a>
        </div>
        <div class="col-auto d-flex">
            <form class="my-auto" asp-action="Delete">
                <input type="hidden" asp-for="@Id" />
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
        </div>
    </div>
    <hr />
}
<div class="row">
    <div class="col">
        <a asp-action="Create" class="btn btn-primary">Create New Blog</a>
    </div>
</div>



@*<h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-controller="Posts" asp-action="BlogPosts" asp-route-id="@item.Id">Blog Posts</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-controller="Posts" asp-action="Create" asp-route-id="@item.Id">New Post</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
