@model IEnumerable<CodingBlog.Models.Comment>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

@foreach (var item in Model)
{
    <div class="row">
        <div class="col">
            @{
                var Id = item.Id;
                var PostId = item.PostId;
                var Content = item.Content;
                var BlogUserId = item.BlogUserId;
            }
            @Html.DisplayFor(modelItem => item.Content)
            <button onclick="EditComment(@Id)">Edit</button>

            <form asp-action="Delete">
                <input type="hidden" asp-for="@Id" />
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>

            <form style="display:none;" id="comment-form-id-@item.Id" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@Id" />
                <input type="hidden" asp-for="@BlogUserId" />
                <input type="hidden" asp-for="@PostId" />
                <div class="form-group">
                    <input asp-for="@Content" class="form-control" />
                    <span asp-validation-for="@Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <button type="button" onclick="CancelEditComment(@Id)">Cancel</button>
                </div>
            </form>
            <hr style="border-color:white" />
        </div>
    </div>
}

@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogUser.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
