@model CodingBlog.Models.Post
@using CodingBlog.Helpers

@{
    ViewData["Title"] = Model.Title;
    Layout = "_PostLayout";
    if (Model.Image != null)
    {
        ViewData["HeaderImage"] = @ImageHelper.GetImage(Model);
    }
    ViewData["IncludeHeader"] = "true";
}

@*<div id="blogs-container">
        <a asp-controller="Home" asp-action="Index" asp-route-id="@Model.Blog.Id" class="blog-category">@Model.Blog.Name</a>
    </div>*@

<div id="blog-post-header">
    <div id="header-wrapper">
        <div class="header-section grow content">
            <p>
                <a asp-controller="Home" asp-action="Index" asp-route-id="@Model.Blog.Id"><strong>@Model.Blog.Name.ToUpper()</strong></a> | 3 MINUTE READ
            </p>
            <h1>@Model.Title</h1>
            <div class="author-container">
                <div class="author-img-wrapper">
                    <img src="~/content/author-img.jpg" alt="" />
                </div>
                <div class="author-content">
                    Written By Joshua Peters
                    <div><strong>PORTFOLIO</strong></div>
                </div>
            </div>
        </div>
        <div class="header-section image-border-radius">
            @if(Model.Image != null)
            {
            <img src="@ImageHelper.GetImage(Model)" alt="" />
            }
        </div>
    </div>
</div>

<article class="article-container py-5">
    <div class="article-wrapper">
        @Html.Raw(Model.Content)
    </div>
</article>

<section class="bg-highlight py-5" id="comment-panel-container">
    <div class="panel-body">
        @if (User.Identity.IsAuthenticated)
        {
            <form asp-controller="Comments" asp-action="Create">
                <div class="row p-2">

                    @Html.Hidden("PostId", Model.Id)
                    <div class="col-12 text-center">
                        <textarea id="comment-box" name="Content" placeholder="Type your comment"></textarea>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit" id="comment-button">Post</button>
                    </div>

                </div>
            </form>

        }
        else
        {
            <div class="text-center">Please <strong><a asp-area="Identity" asp-page="/Account/Login" asp-route-returnurl="@Context.Request.Path#comment-box">login</a></strong> to leave a comment</div>
        }
        Comments (@Model.Comments.Count())
        <table class="table table-responsive-sm">
            <tbody>
                @foreach (var comment in Model.Comments.OrderByDescending(c => c.Created))
                {
                    <tr class="comment-row">
                        <td style="width:100%;">
                            <strong>@@@comment.BlogUser.DisplayName</strong><span class="created"> on @comment.Created.ToString("MMM dd, yyyy")</span>
                            <br />
                            @comment.Content
                        </td>
                        <td class="moderate-button">
                            <a asp-controller="Comments" asp-action="Edit" asp-route-id="@comment.Id " class="btn btn-warning">Moderate</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</section>

<div id="add-options-wrapper" class="animate__animated animate__bounceIn">
    <div class="option"><h6>Blog</h6></div>
    <div class="option"><h6>Post</h6></div>
</div>
<button onclick="toggleNew()" id="add-new">
    <svg viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
    </svg>
</button>











@*@model CodingBlog.Models.Post
    @using CodingBlog.Helpers
    @{
        ViewData["Title"] = Model.Title;
        Layout = "_PostLayout";
        if (Model.Image != null)
        {
            ViewData["HeaderImage"] = @ImageHelper.GetImage(Model);
        }
    }

    <div class="container">
        <div class="row">
            <div class="col">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>

    <section id="comment-panel-container">
        <div class="container p-3">
            <div class="row text-center">
                <div class="col">
                    Comments (@Model.Comments.Count())
                </div>
            </div>
            <div class="panel-body">
                @if (User.Identity.IsAuthenticated)
                {
                    <form asp-controller="Comments" asp-action="Create">
                        <div class="row p-2">

                            @Html.Hidden("PostId", Model.Id)
                            <div class="col-12 text-center">
                                <textarea id="comment-box" name="Content" placeholder="Type your comment"></textarea>
                            </div>
                            <div class="col-12">
                                <button type="submit" id="comment-button">Post</button>
                            </div>

                        </div>
                    </form>

                }
                else
                {
                    <div class="row text-center">
                        <div class="col">
                            Please <strong><a asp-area="Identity" asp-page="/Account/Login">login</a></strong> to leave a comment
                        </div>
                    </div>
                }

                <div class="row">
                    <div class="col p-3">
                        <table class="table">-->

    <!--<tbody>
                                @foreach (var comment in Model.Comments.OrderByDescending(c => c.Created))
                                {

                                    <tr>
                                        <td>
                                            <strong>@@@comment.BlogUser.DisplayName</strong><span class="created"> on @comment.Created.ToString("MMM dd, yyyy")</span>
                                            <br />
                                            @comment.Content
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@
